---
import { baseUrl } from '@/utils/functions';
const logo = baseUrl('/assets/tweakpane.avif');
---

<div class='scene'>
  <div class='layeredText'>
    <span>20 Projects With Tweakpane</span>
    <div class='layers' aria-hidden='true'>
      <div class='layer' style='--i: 1;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 2;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 3;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 4;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 5;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 6;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 7;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 8;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 9;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 10;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 11;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 12;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 13;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 14;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 15;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 16;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 17;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 18;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 19;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 20;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 21;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 22;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 23;'>20 Projects With Tweakpane</div>
      <div class='layer' style='--i: 24;'>20 Projects With Tweakpane</div>
    </div>
  </div>

  <img src={logo} alt='Logo' class='am-img' />
</div>

<style>
  .am-img {
    position: absolute;
    top: 8vmax;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4vmax;
    
  }

  .scene {
    perspective: 106.04vmax;

    * {
      transform-style: preserve-3d;
      font-size: 3.9vmax;
      text-align: center;

      @media (width <= 1111px) and (orientation: portrait) {
        font-size: 3vmax;
        
      }
    }
  }

  .layeredText {
    --layers-count: 24;
    --layer-offset: 0.13vmax;
    position: relative;
    font-weight: 900;
    transform: rotateY(20deg);

    span {
      color: black;
      text-shadow: 0 0 0.1vmax #003;
    }

    .layers,
    .layer {
      position: absolute;
      inset: 0;
    }

    .layer {
      --n: calc(var(--i) / var(--layers-count));
      color: hsl(180 30% calc(var(--n) * 100%));
      animation: Tilting 3s infinite ease-in-out alternate;
    }
  }

  @keyframes Tilting {
    from {
      transform: translateZ(calc(var(--i) * var(--layer-offset)))
        rotateX(calc(var(--n) * 30deg));
    }
    to {
      transform: translateZ(calc(var(--i) * var(--layer-offset)))
        rotateX(calc(var(--n) * -30deg));
    }
  }
</style>
