---
import AmTitulo from './AmTitulo.astro';

---

<section class="am-section">

  <AmTitulo />
</section>
<style>
  .am-section {
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
  }

 
</style>
